/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "semantic-ui";

 /* Reset */
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a ,abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font-family:"微軟正黑體","Microsoft JhengHei","儷黑 Pro","LiHei Pro","標楷體","Arial","Helvetica Neue";
 vertical-align: baseline;
 text-decoration:none;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 display: block;
 }
 body {
 line-height: 1;
 }
 ol, ul {
 list-style: none;
 }
 blockquote, q {
 quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 content: '';
 content: none;
 }
 table {
 border-collapse: collapse;
 border-spacing: 0;
 }

hr{
  margin-top:5px;
  margin-bottom:5px;
}
a,a:hover{
  color:black;
  text-decoration:none;
}

/* Reset end */

.ui.button{
  margin-top:10px;
  font-family:"微軟正黑體","Microsoft JhengHei","儷黑 Pro","LiHei Pro","標楷體","Arial","Helvetica Neue";
}

.modal-header{
  background:rgb(242,242,242);
}

.ui.cards ~ .ui.cards,.ui.cards > .card,.ui.cards{
  margin:0px;
  margin-top:0px;
}
.ui.cards > .card{
  box-shadow:none;
  width:100%;
}
.ui.cards ~ .ui.cards, .ui.cards > .card, .ui.cards{
  margin-top:0.625em;
}

/* Top */
.topmenu{
  width:100%;
  margin-top:10px;
  margin-bottom:50px;
}

.topmenu li{
  float:right;
  list-style:none;
  margin-right:15px;
}

.topmenu img{
  width:30px;
}

#mailbox{
  position: relative;
}

#mailboxiconhover{
  display: none;
}

#mailboxicon,#mailboxiconhover,#notificationicon{
  width:35px;
  height: 35px;
}

/* Side */
#logo{
  margin:20px auto;
  width:70%;
}

.sidemenu{
  margin-top:20px;
}

.sidemenu li{
  margin:10px auto;
}

.biglink{
  font-size:18px;
}

.slink{
  padding-top:4px;
  padding-bottom:8px;
  font-size: 14px;
}

.slink a,.biglink a,.biglink a:hover,.slink a:hover{
  color:black;
  text-decoration: none;
}

#menu-mobile{
  display:none;
}

.icon-bar{
  background-color:black;
}

.navbar-toggle{
  float:none;
}

/* notify */
#notification{
  position: relative;
}

#notificationContainer {
  background-color: #fff;
  border: 1px solid rgba(100, 100, 100, 0.4);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  overflow: visible;
  position: absolute;
  top: 40px;
  margin-left: -140px;
  width: 300px;
  z-index: 999;
  display: none;
}

#notificationTitle {
  z-index: 1000;
  font-weight: bold;
  padding: 8px;
  font-size: 13px;
  background-color: #ffffff;
  width: 298px;
  border-bottom: 1px solid #dddddd;
}

#notificationsBody {
  min-height: 200px;
}

.notifications{
  display:block;
  padding:25px;
  border-bottom:1px solid rgba(100, 100, 100, 0.4);
}

#notificationFooter {
  background-color: #e9eaed;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  font-size: 12px;
  border-top: 1px solid #dddddd;
}

.iconcount{
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;

  padding: 1px 3px;
  font-size: 10px;

  position: absolute;
  top: 0;
  right: 0;
}

.btnbar{
  text-align: center;
}

@media screen and (max-width:768px){
  .topmenu{
    text-align: center;
  }
  .topmenu li{
    float:none;
    display:inline-block;
  }

  #notificationContainer{
    margin-left:-180px;
  }

  #logo{
    display:block;
  }

  #menu-mobile{
    display:block;
  }

  #menu-desktop{
    display:none;
  }
}
