// Place all the styles related to the folders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.folder{
  border:1px solid gray;
  padding:15px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
}

.folder-posts{
  width:100%;
  font-size:0px;
}

.folder-postimg{
  width:48%;
  margin:1%;
  display:inline-block;
}

.folder-editpostimg{
  width:100%;
}

.folder-btnbar{
  width:100%;
  text-align: center;
}
