// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-show{
  cursor:pointer;
}

.postimg{
  width:100%;
  height:auto;
}

.authorname a,.authorname a:hover{
  color:white;
  font-weight: bold;
}

.grid-sizer{
  width:25%;
}

#post-card{
  padding-left:10px;
  padding-right:10px;
  margin-top:20px;
}

/* single post */
#post-hashtagicon{
  width:15px;
}

.post-content{
  margin:40px 0px;
}


@media screen and (max-width:768px){
  .grid-sizer{
    width:100%;
  }
}
